<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
    <meta charset="utf-8"/>
    <title>貸出図書の登録</title>
</head>
<body>
<header th:replace="fragments/navigation::navigation('貸出図書の登録')"></header>

<main class="container">
    <header th:replace="fragments/header::header('貸出図書の登録')"></header>

    <section class="attendanceInput has-text-centered">
        <form action="#" class="form" id="custom-form"
              method="post" name="body"
              th:action="@{/bookonloan/register}"
              th:object="${loaningOfBookForm}">

            <ul class="notification is-danger" th:if="${#fields.hasGlobalErrors()}">
                <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
            </ul>

            <div th:replace="fragments/field::macro('会員番号', ~{::div#memberNumberField})">
                <div class="field-body" id="memberNumberField">
                    <div class="field">
                        <p class="control">
                            <input class="input" placeholder="1" th:field="*{memberNumber.value}"
                                   type="text"/>
                        </p>
                        <p class="help is-danger has-text-left"
                           th:if="${#fields.hasErrors('memberNumber.value')}">
                            <span th:errors="*{memberNumber.value}"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/field::macro('蔵書コード', ~{::div#bookCollectionCodeField})">
                <div class="field-body" id="bookCollectionCodeField">
                    <div class="field">
                        <p class="control">
                            <input class="input" placeholder="1-A" th:field="*{bookCollectionCode.value}"
                                   type="text"/>
                        </p>
                        <p class="help is-danger has-text-left"
                           th:if="${#fields.hasErrors('bookCollectionCode.value')}">
                            <span th:errors="*{bookCollectionCode.value}"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/field::macro('貸出日', ~{::div#loanDateField})">
                <div class="field-body" id="loanDateField">
                    <div class="field">
                        <p class="control">
                            <input class="input" placeholder="2020-01-01" th:field="*{loanDate.value}"
                                   type="date"/>
                        </p>
                        <p class="help is-danger has-text-left"
                           th:if="${#fields.hasErrors('loanDate.value')}">
                            <span th:errors="*{loanDate.value}"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="formFooter has-text-centered">
                <button class="button is-primary is-outlined">登録</button>
            </div>
        </form>
    </section>

</main>
</body>
</html>